@model List<DairyManagementSystem.Models.ViewModels.SupplierModel>
@{
   ViewData["Title"] = "Suppliers";
}

<!-- Content Header (Page header) -->
<div class="content-header">
   <div class="container-fluid admin-breadcrumb px-3 py-2">
      <div class="row align-items-center">
         <div class="col-sm-6">
            <h3 class="m-0 breadcrumb-heading">Suppliers</h3>
         </div><!-- /.col -->
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
               <li class="breadcrumb-item active">Suppliers</li>
            </ol>
         </div><!-- /.col -->
      </div><!-- /.row -->
   </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <p>
         <a asp-action="Save" class="btn btn-primary">Add <i class="ms-2 fas fa-plus"></i></a>
      </p>

      <div class="row">
         <div class="col-12">
            <div class="card">
               <div class="card-header">
                  <h3 class="card-title">Suppliers</h3>

                  <div class="card-tools">
                     @* <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                           <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                           </button>
                        </div>
                     </div> *@
                  </div>
               </div>
               <!-- /.card-header -->
               <div class="card-body table-responsive p-0">
                  <table class="table table-hover text-nowrap">
                     <thead>
                        <tr>
                           <th>S. No</th>
                           <th>Name</th>
                           <th>Email</th>
                           <th>Address</th>
                           <th>Phone</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        @{
                           int count = 1;
                        }
                        @if(Model == null || Model.Count == 0) {
                           <tr>
                              <td colspan="5" class="badge bg-danger m-1">No suppliers available</td>
                           </tr>
                        } else {
                           foreach(var supplier in Model) {
                              <tr>
                                 <td>@count</td>
                                 <td>@supplier.Name</td>
                                 <td>@supplier.Email</td>
                                 <td>@supplier.Address</td>
                                 <td>@supplier.Phone</td>
                                 <td>
                                    <a title="Edit" class="btn btn-warning action-buttons text-light" href="@Url.Action("Save", "Supplier", new { id = supplier.Id })">
                                       <i class="fas fa-edit"></i>
                                    </a>
                                    <a title="View" class="btn btn-info action-buttons ms-1 text-light" href="@Url.Action("Details", "Supplier", new { id = supplier.Id })">
                                       <i class="fas fa-eye"></i>
                                    </a>
                                    <button title="Delete" onclick="DeleteSupplier(this)" data-id="@supplier.Id" class="btn btn-danger ms-1 action-buttons">
                                       <i class="fas fa-trash"></i>
                                    </button>
                                 </td>
                              </tr>
                              count += 1;
                           }
                        }
                     </tbody>
                  </table>
               </div>
               <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
      </div>

   </div>
</section>
<!-- /.content -->


<!-- The Modal -->
<div class="modal fade" id="confirmDeleteSupplierDialog">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Confirm!</h4>
            <button type="button" class="btn btn-outline-primary model-close-icon p-0 px-1" data-dismiss="modal"></button>
         </div>
         <div class="modal-body">
            Are you Sure?
         </div>
         <!-- Modal footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a id="confirmDeleteSupplierLink" class="btn btn-danger">Confirm</a>
         </div>

      </div>
   </div>
</div>


@section Scripts {
   <script>
      function DeleteSupplier(target) {
         let id = target.getAttribute("data-id");


         let modal = new bootstrap.Modal(document.getElementById('confirmDeleteSupplierDialog'))
         modal.show();

         let href = "supplier/delete/" + id;

         const confirmDeleteLink = document.getElementById("confirmDeleteSupplierLink");
         confirmDeleteLink.setAttribute('href', href);
      }
   </script>
}