@model DairyManagementSystem.Models.ViewModels.ProductModel


<!-- Content Header (Page header) -->
<div class="content-header">
   <div class="container-fluid admin-breadcrumb px-3 py-2">
      <div class="row align-items-center">
         <div class="col-sm-6">
            <h3 class="m-0 breadcrumb-heading">Products</h3>
         </div><!-- /.col -->
         <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
               <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
               <li class="breadcrumb-item"><a href="#">Products</a></li>
               <li class="breadcrumb-item active">
                  @(Model == null && string.IsNullOrWhiteSpace(Model?.ProductName) ? "New" : Model.ProductName)
               </li>
            </ol>
         </div><!-- /.col -->
      </div><!-- /.row -->
   </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
   <div class="container-fluid">
      <div>
         <a asp-action="Index" class="btn btn-warning mb-3"><i class="fas fa-chevron-left mr-2"></i>Back</a>
      </div>
      <form asp-action="Save">

         <div class="form-group">
            <input asp-for="ProductName" placeholder="Product Name" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
         </div>

         <div class="form-group">
            <input asp-for="Price" placeholder="Price (Per Item)" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
         </div>

         <div class="form-group">
            <input asp-for="Quantity" placeholder="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
         </div>
         <div class="form-group">
            <select asp-for="UnitId" class="form-control">
               <option value="">-- SELECT UNIT --</option>
               @if(ViewBag.Units != null && ViewBag.Units.Count > 0) {
                  foreach(var unit in ViewBag.Units) {
                     @if (Model?.UnitId == unit.Key)
                     {
                        <option selected value="@unit.Key">@unit.Value</option>
                     } else {
                        <option value="@unit.Key">@unit.Value</option>
                     }

               }
               }
            </select>
            <span asp-validation-for="UnitId" class="text-danger"></span>
         </div>

         <button type="submit" class="btn btn-primary my-3 px-5">Save</button>
      </form>
   </div>
</section>
<!-- /.content -->
@section Scripts {
   @{
      await Html.RenderPartialAsync("~/Views/Shared/_ValidationScriptsPartial.cshtml");
   }
}